@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

body {
  font-family: 'Niconne', sans-serif;
  margin: auto;
  width: 60%;
  padding: 20px;
  border-radius: 30px;
  color: white;
}

header {
  background-color: #393e4c;
  color: #ccddec;
  padding: 15px;
  border-radius: 30px 30px 0 0;
}

h1 {
  margin: 20px 0 0 35px;
}

h2 {
  margin: 0 0 20px 0;
}

input {
  width: 80%;
  padding: 0 10px;
  height: 50px;
  border-radius: 10px;
  background-color: #393e4c;
  color: #ccddec;
}

main {
  font-size: larger;
  display: flex;
  padding: 20px;
  background-image: linear-gradient(to right, #ff6e66, #ff6068);
  border-radius: 0 0 30px 30px;
}

section {
  padding: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #d90047, #ff3a53);
  border-radius: 10px;
}

hr {
  border: 0 0 1px 0;
}

form button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: #fb3552;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container {
  display: flex;
}

.container button {
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #fb3552;
  margin: 0 20px;
  color: white;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 155px;
}

.list-item {
  width: 94%;
  padding: 10px 10px;
  height: 20px;
}
